<!DOCTYPE html>
<html lang="zh" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>广播式 WebSocket</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- BootStrap CSS -->
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}">

    <!-- 自定义 CSS -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/broadcast.css}">

</head>
<body>

<noscript>
    <h2 style="color: #ff0000">
        似乎您的浏览器不支持Javascript！ Websocket依赖于启用Javascript。 请启用Javascript并重新加载此页面！
    </h2>
</noscript>

<div class="container">

    <div class="form-group">
        <H4>广播式 WebSocket</H4>
    </div>

    <div class="form-group">
        <label>WebSocket 连接：</label>
        <div>
            <a th:href="@{/}" class="btn btn-secondary" role="button" aria-pressed="true">首页</a>
            <button type="submit" class="btn btn-secondary" id="connect">连接</button>
            <button type="submit" class="btn btn-secondary" id="disconnect" style="display: none;">断开</button>
        </div>
    </div>

    <div id="isConnect" style="display: none;">

        <form id="form-welcome">

            <div class="form-group">
                <label for="name">用户</label>
                <input type="text" class="form-control" id="name" aria-describedby="nameHelp" th:value="${name}" readonly>
                <small id="nameHelp" class="form-text text-muted">登录时的用户名。</small>
            </div>

            <div class="form-group">
                <label for="msg">需要广播的消息</label>
                <input type="text" class="form-control" id="msg" name="msg" aria-describedby="msgHelp">
                <small id="msgHelp" class="form-text text-muted">输入你想广播的消息</small>
            </div>

            <div class="form-group">
                <label for="send">发送广播消息：</label>
                <div>
                    <button type="submit" class="btn btn-secondary" id="send">发送</button>
                </div>
            </div>

        </form>

        <div class="form-group">
            <label for="conversation">来自广播的消息：</label>
            <table id="conversation" class="table table-striped">
                <tbody id="message">
                </tbody>
            </table>
        </div>

    </div>

</div>

</body>

<!-- JQuery JS -->
<script type="text/javascript" th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>

<!-- BootStrap JS -->
<script type="text/javascript" th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>

<!-- SockJS JS，SockJS 客户端脚本 -->
<script type="text/javascript" th:src="@{/webjars/sockjs-client/1.1.2/sockjs.min.js}"></script>

<!-- STOMP JS，STOMP 协议的客户端脚本 -->
<script type="text/javascript" th:src="@{/webjars/stomp-websocket/2.3.3-1/stomp.min.js}"></script>

<!-- 自定义 JS -->
<script type="text/javascript" th:src="@{/js/broadcast.js}"></script>

</html>