<!DOCTYPE html>
<html lang="zh" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>局部广播式（群聊）WebSocket</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- BootStrap CSS -->
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}">

    <!-- 自定义 CSS -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/chatRoom.css}">

</head>
<body>

<div class="container">

    <div class="form-group">
        <H4>局部广播式（群聊）WebSocket</H4>
    </div>

    <div class="form-group">
        <label for="chatRoomId">聊天室编号</label>
        <input type="text" class="form-control" id="chatRoomId" name="chatRoomId" value="1"
               aria-describedby="chatRoomIdHelp">
        <small id="chatRoomIdHelp" class="form-text text-muted">相当于群号。默认为1。连接后不可修改。断开连接才能修改。</small>
    </div>

    <div class="form-group">
        <label>WebSocket 连接：</label>
        <div>
            <a th:href="@{/}" class="btn btn-secondary" role="button" aria-pressed="true">首页</a>
            <button type="submit" class="btn btn-secondary" id="connect">连接</button>
            <button type="submit" class="btn btn-secondary" id="disconnect" style="display: none;">断开</button>
        </div>
    </div>

    <div id="isConnect" style="display: none;">

        <form id="form-welcome">

            <div class="form-group">
                <label for="name">用户</label>
                <input type="text" class="form-control" id="name" aria-describedby="nameHelp" th:value="${name}"
                       readonly>
                <small id="nameHelp" class="form-text text-muted">登录时的用户名。</small>
            </div>

            <div class="form-group">
                <label for="msg">消息</label>
                <input type="text" class="form-control" id="msg" name="msg" aria-describedby="msgHelp">
                <small id="msgHelp" class="form-text text-muted">输入你想发送给好友的消息</small>
            </div>

            <div class="form-group">
                <label for="send">发送消息：</label>
                <div>
                    <button type="submit" class="btn btn-secondary" id="send">发送</button>
                </div>
            </div>

        </form>

        <div class="form-group">
            <label for="conversation">来自局部广播（群聊）的消息：</label>
            <table id="conversation" class="table table-striped">
                <tbody id="message">
                </tbody>
            </table>
        </div>

    </div>

</div>

</body>

<!-- JQuery JS -->
<script type="text/javascript" th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>

<!-- BootStrap JS -->
<script type="text/javascript" th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>

<!-- SockJS JS，SockJS 客户端脚本 -->
<script type="text/javascript" th:src="@{/webjars/sockjs-client/1.1.2/sockjs.min.js}"></script>

<!-- STOMP JS，STOMP 协议的客户端脚本 -->
<script type="text/javascript" th:src="@{/webjars/stomp-websocket/2.3.3-1/stomp.min.js}"></script>

<!-- 自定义 JS -->
<script type="text/javascript" th:src="@{/js/chatRoom.js}"></script>

</html>