<!DOCTYPE html>
<html lang="zh" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Index</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- BootStrap CSS -->
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.5.3/css/bootstrap.min.css}">

    <!-- 自定义 CSS -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/index.css}">

</head>
<body>

<div class="container">
    <a th:href="@{/broadcast}" class="btn btn-link" role="button" aria-pressed="true">广播式 WebSocket</a><br>
    <a th:href="@{/friend}" class="btn btn-link" role="button" aria-pressed="true">点对点式（好友聊天）WebSocket</a><br>
    <a th:href="@{/chatRoom}" class="btn btn-link" role="button" aria-pressed="true">局部广播式（群聊）WebSocket</a><br>
</div>

</body>

<!-- JQuery JS -->
<script type="text/javascript" th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>

<!-- BootStrap JS -->
<script type="text/javascript" th:src="@{/webjars/bootstrap/4.5.3/js/bootstrap.min.js}"></script>

<!-- 自定义 JS -->
<script type="text/javascript" th:src="@{/js/index.js}"></script>

</html>